This notebook adds county names to the raw data `csv`s.

In [1]:
import pandas as pd
from MI_info import FIPS_to_county

In [2]:
df = pd.read_csv('data/2000-2023_alt_formatting.csv')

In [5]:
df.head()

   row_no   FIPS        date  rainfall
0       0  26001  2000-01-01      26.7
1       1  26001  2000-02-01      31.4
2       2  26001  2000-03-01      16.5
3       3  26001  2000-04-01      65.9
4       4  26001  2000-05-01     123.3

In [11]:
for i in range(len(df)):
    df.loc[i, 'county_name'] = FIPS_to_county['0' + str(df.loc[i, 'FIPS'])]

In [13]:
df.head()

   row_no   FIPS        date  rainfall county_name
0       0  26001  2000-01-01      26.7      Alcona
1       1  26001  2000-02-01      31.4      Alcona
2       2  26001  2000-03-01      16.5      Alcona
3       3  26001  2000-04-01      65.9      Alcona
4       4  26001  2000-05-01     123.3      Alcona

In [14]:
#df.to_csv('data/rainfall/1900-2023_rainfall.csv')